<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>
<style>
td,th,table {
    border: solid 1px black;
}
table{
  border-collapse: collapse;      
}
</style>
<% if false %>
<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>

<% end %>

<div id="movies">
  <table>
  <thead>
  <tr>
    <th class="<%= 'sorted ' + @sort_direction if @sort_column == 'title' %>">
      <%= link_to 'Title', movies_path(sort: 'title', direction: toggle_direction('title')), class: 'sortable' %>
      <span class="sort-indicator">
        <%= sort_arrow('title') %>
      </span>
    </th>
    <th class="<%= 'sorted ' + @sort_direction if @sort_column == 'rating' %>">
      <%= link_to 'Rating', movies_path(sort: 'rating', direction: toggle_direction('rating')), class: 'sortable' %>
      <span class="sort-indicator">
        <%= sort_arrow('rating') %>
      </span>
    </th>
    <th class="<%= 'sorted ' + @sort_direction if @sort_column == 'release_date' %>">
      <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: toggle_direction('release_date')), class: 'sortable' %>
      <span class="sort-indicator">
        <%= sort_arrow('release_date') %>
      </span>
    </th>
  </tr>
</thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New movie", new_movie_path %>