<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>
<style>
td,th,table {
    border: solid 1px black;
}
table{
  border-collapse: collapse;      
}
</style>
<% if false %>
<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>

<% end %>

<div id="movies">
  <table>
  <thead>
  <tr>
      <th>
        Title
      <span class="sort-indicator">
          <%= link_to sort_arrow('title'), movies_path(sort: 'title', direction: toggle_direction('title')), class: 'indicator-link' %>
      </span>
    </th>
      <th>
        Rating
      <span class="sort-indicator">
          <%= link_to sort_arrow('rating'), movies_path(sort: 'rating', direction: toggle_direction('rating')), class: 'indicator-link' %>
      </span>
    </th>
      <th>
        Release Date
      <span class="sort-indicator">
          <%= link_to sort_arrow('release_date'), movies_path(sort: 'release_date', direction: toggle_direction('release_date')), class: 'indicator-link' %>
      </span>
    </th>
  </tr>
</thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New Movie", new_movie_path(sort: params[:sort], direction: params[:direction]) %>
